/* Common-style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
/* main-section-style */
.Main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* header style */

 header{
    background-color: #562EFF;
    height: 94px;
    width: 1200px;
    margin-top: 45px;
    
}
.header-logo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.header-logo img{
    height: 51px;
    width: 40px;
    
}
.header-logo p{
    font-size: 24px;
    color: white;
    padding-left: 5px;
}
.navbar-items{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 190px;
   
}
.nav-bar{
    align-items: center;
    display: flex;
    align-content: center;
    
   
}
.nav-bar a{
    text-decoration: none;
    padding-left: 30px;
    padding-right: 5px;
    color: white;
    font-size: 16px;
}
.profile-image img{
    width: 40px;
    padding-left: 40px;
   
}
main{
    height: 1260px;
    width: 1200px;
    background-color: #F3F1FF;
}
/* top-players styles */
.player-blog{
    background-color: white;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;

}
.section-header h2{
    font-size: 24px;
    color: #562EFF;
    padding-left: 20px;
    padding-top: 30px;

}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    padding-left: 20px;
    padding-top: 20px;
}
.player{
    display: flex;
    align-items: center;
}
.player-img img{
    height: 56px;
    width: 56px;
}
.player-name h3{
    font-size: 18px;
    padding-left: 20px;
}
/* hr tag style */
hr{
    width: 900px;
    border:1px solid #D1D1D1;
    margin-top: 40px;
}
/* blogs styles */
.blog-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 50px;
    padding-left:20px ;
}
.blog{
    display: flex;
    align-items: center;
    text-align: justify;
}
.blog-img img{
    height: 127px;
    width: 224px;
}
.blog-text{
    padding-left: 15px;
}
.blog-text h3{
      font-size: 20px;
}
.blog-author p{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* letest course style */
.container{
    display:flex;
    justify-content: center;
    padding-bottom: 5px;
    align-items: center;
    padding-left: 40px;
}
.course{
    border-radius: 10px;
    box-shadow:10px 10px 20px #aaaaaa;
    padding-left: 20px;
    margin-right: 20px;
    margin-right: 40px;
}
.letest-coruse{
    background-color: white;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 30px;
   
}
.course-img img{
    height: 104px;
    width: 224px;
}
.course-text h3{
    font-size: 20px;
}
.course-text a{
    text-decoration: none;
    color: #ED6B4F;
    font-size: 14px;
}
.reating{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.star img{
    height: 20px;
    width: 20px;
}
.fas {
      color: #FFC014;
}
.star span{
    color: #636262;
}
.time{
    border:1px solid white;
    background-color: #f8a18d;
    height: 27px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:1px;
}
.time img{
    height: 20px;
    width: 20px;
}
.time span{
    font-size: 13px;
   
    color:#FF4A60 ;
}